openapi: 3.0.0
info:
  title: "SynBioHub Edit API"
  version: "1.0.0"
  description: "API endpoints for editing objects in SynBioHub"

servers:
  - url: "https://synbiohub.org"
    description: Main SynBioHub instance
  - url: "http://localhost:7777"
    description: Local development instance

components:
  securitySchemes:
    userToken:
      type: apiKey
      in: header
      name: X-authorization
      description: Authentication token required for all edit endpoints

paths:
  /{uri}/updateMutableDescription:
    post:
      summary: Edit Mutable Description
      description: Edit the mutable description of an object
      parameters:
        - name: uri
          in: path
          required: true
          schema:
            type: string
          description: The URI of the object to update
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                value:
                  type: string
                  description: The new value for the mutable description
              required:
                - value
      responses:
        "200":
          description: Description updated successfully
        "401":
          description: Unauthorized - invalid or missing token
        "403":
          description: Forbidden - user is not an owner of this object
      tags:
        - Edit

  /{uri}/updateMutableNotes:
    post:
      summary: Edit Mutable Notes
      description: Edit the mutable notes of an object
      parameters:
        - name: uri
          in: path
          required: true
          schema:
            type: string
          description: The URI of the object to update
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                value:
                  type: string
                  description: The new value for the mutable notes
              required:
                - value
      responses:
        "200":
          description: Notes updated successfully
        "401":
          description: Unauthorized - invalid or missing token
        "403":
          description: Forbidden - user is not an owner of this object
      tags:
        - Edit

  /{uri}/updateMutableSource:
    post:
      summary: Edit Mutable Source
      description: Edit the mutable source of an object
      parameters:
        - name: uri
          in: path
          required: true
          schema:
            type: string
          description: The URI of the object to update
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                value:
                  type: string
                  description: The new value for the mutable source
              required:
                - value
      responses:
        "200":
          description: Source updated successfully
        "401":
          description: Unauthorized - invalid or missing token
        "403":
          description: Forbidden - user is not an owner of this object
      tags:
        - Edit

  /{uri}/updateCitations:
    post:
      summary: Edit Citations
      description: Edit the citations of an object
      parameters:
        - name: uri
          in: path
          required: true
          schema:
            type: string
          description: The URI of the object to update
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                value:
                  type: string
                  description: The new value for the citation
              required:
                - value
      responses:
        "200":
          description: Citations updated successfully
        "401":
          description: Unauthorized - invalid or missing token
        "403":
          description: Forbidden - user is not an owner of this object
      tags:
        - Edit

  /{uri}/edit/{field}:
    post:
      summary: Edit Field
      description: Edit a field of an object
      parameters:
        - name: uri
          in: path
          required: true
          schema:
            type: string
          description: The URI of the object
        - name: field
          in: path
          required: true
          schema:
            type: string
            enum: [title, description, role, wasDerivedFrom, type, annotation]
          description: The field to edit
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                previous:
                  type: string
                  description: The previous value of the field
                object:
                  type: string
                  description: The new value of the field
                pred:
                  type: string
                  description: A predicate for an annotation
              required:
                - previous
                - object
      responses:
        "200":
          description: Field edited successfully
        "401":
          description: Unauthorized - invalid or missing token
        "403":
          description: Forbidden - user is not an owner of this object
      tags:
        - Edit

  /{uri}/add/{field}:
    post:
      summary: Add Field
      description: Add a field to an object
      parameters:
        - name: uri
          in: path
          required: true
          schema:
            type: string
          description: The URI of the object
        - name: field
          in: path
          required: true
          schema:
            type: string
            enum: [role, type, wasDerivedFrom, annotation]
          description: The field to add
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                object:
                  type: string
                  description: The value of the field
                pred:
                  type: string
                  description: A predicate for an annotation
              required:
                - object
      responses:
        "200":
          description: Field added successfully
        "401":
          description: Unauthorized - invalid or missing token
        "403":
          description: Forbidden - user is not an owner of this object
      tags:
        - Edit

  /{uri}/remove/{field}:
    post:
      summary: Remove Field
      description: Remove a field from an object
      parameters:
        - name: uri
          in: path
          required: true
          schema:
            type: string
          description: The URI of the object
        - name: field
          in: path
          required: true
          schema:
            type: string
            enum: [role, type, title, description, wasDerivedFrom, annotation]
          description: The field to remove
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                object:
                  type: string
                  description: The value of the field to remove
                pred:
                  type: string
                  description: A predicate for an annotation
              required:
                - object
      responses:
        "200":
          description: Field removed successfully
        "401":
          description: Unauthorized - invalid or missing token
        "403":
          description: Forbidden - user is not an owner of this object
      tags:
        - Edit
