openapi: 3.0.0
info:
  title: "SynBioHub User API"
  version: "1.0.0"
  description: "API endpoints for user management in SynBioHub"
  
servers:
  - url: 'https://synbiohub.org'
    description: Main SynBioHub instance
  - url: 'http://localhost:7777'
    description: Local development instance

components:
  securitySchemes:
    userToken:
      type: apiKey
      in: header
      name: X-authorization
      description: Authentication token required for user management endpoints

paths:
  /login:
    post:
      summary: Login
      description: Login to SynBioHub and receive an authentication token
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: User's email address
                password:
                  type: string
                  format: password
                  description: User's password
              required:
                - email
                - password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Authentication token to use for subsequent requests
        '401':
          description: Unauthorized - invalid credentials
      tags:
        - User

  /logout:
    post:
      summary: Logout
      description: Invalidate the current authentication token
      security:
        - userToken: []
      responses:
        '200':
          description: Logout successful
        '401':
          description: Unauthorized - invalid or missing token
      tags:
        - User

  /register:
    post:
      summary: Register User
      description: Register a new user account
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Desired username
                name:
                  type: string
                  description: Full name of the user
                email:
                  type: string
                  format: email
                  description: User's email address
                affiliation:
                  type: string
                  description: User's affiliation (e.g., university, company)
                password1:
                  type: string
                  format: password
                  description: Desired password
                password2:
                  type: string
                  format: password
                  description: Password confirmation
              required:
                - username
                - name
                - email
                - password1
                - password2
      responses:
        '200':
          description: Registration successful
        '400':
          description: Bad request - validation errors
      tags:
        - User

  /resetPassword:
    post:
      summary: Reset Password
      description: Request a password reset
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: Email address of the account
              required:
                - email
      responses:
        '200':
          description: Password reset email sent
        '404':
          description: Account not found
      tags:
        - User

  /setNewPassword:
    post:
      summary: Set New Password
      description: Resets the user's password with the provided token and two copies of the new password.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: Token received by email to reset a password
                password1:
                  type: string
                  format: password
                  description: New password
                password2:
                  type: string
                  format: password
                  description: Confirm new password
              required:
                - token
                - password1
                - password2
      responses:
        '200':
          description: Password reset successful
        '400':
          description: Bad request
      tags:
        - User

  /profile:
    get:
      summary: Get User Profile
      description: Get the current user's profile information
      security:
        - userToken: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  username:
                    type: string
                  email:
                    type: string
                  affiliation:
                    type: string
                  password:
                    type: string
                  graphUri:
                    type: string
                  isAdmin:
                    type: boolean
                  resetPasswordLink:
                    type: string
                  isCurator:
                    type: boolean
                  isMember:
                    type: boolean
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  user_external_profiles:
                    type: array
                    items:
                      type: object
        '401':
          description: Unauthorized - invalid or missing token
      tags:
        - User

    post:
      summary: Update Profile
      description: Update the current user's profile information
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: New full name
                affiliation:
                  type: string
                  description: New affiliation
                email:
                  type: string
                  format: email
                  description: New email address
                password1:
                  type: string
                  format: password
                  description: New password
                password2:
                  type: string
                  format: password
                  description: New password confirmation
              required:
                - name
                - email
      responses:
        '200':
          description: Profile updated successfully
        '401':
          description: Unauthorized - invalid or missing token
        '400':
          description: Bad request - validation errors
      tags:
        - User

  /users:
    get:
      summary: List Users
      description: List all users (admin only)
      security:
        - userToken: []
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    username:
                      type: string
                    name:
                      type: string
                    email:
                      type: string
                    affiliation:
                      type: string
                    isAdmin:
                      type: boolean
        '401':
          description: Unauthorized - invalid or missing token
        '403':
          description: Forbidden - user is not an admin
      tags:
        - User

  /admin/setUserRole:
    post:
      summary: Set User Role
      description: Change a user's role (admin only)
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Username of the target user
                role:
                  type: string
                  enum: [user, admin]
                  description: New role for the user
              required:
                - username
                - role
      responses:
        '200':
          description: User role updated successfully
        '401':
          description: Unauthorized - invalid or missing token
        '403':
          description: Forbidden - user is not an admin
        '404':
          description: User not found
      tags:
        - User
