openapi: 3.0.0
info:
  title: "SynBioHub Edit API"
  version: "1.0.0"
  description: "API endpoints for editing objects in SynBioHub"
  
servers:
  - url: 'https://synbiohub.org'
    description: Main SynBioHub instance
  - url: 'http://localhost:7777'
    description: Local development instance

components:
  securitySchemes:
    userToken:
      type: apiKey
      in: header
      name: X-authorization
      description: Authentication token required for all edit endpoints

paths:
  /updateMutableDescription:
    post:
      summary: Edit Mutable Description
      description: Edit the mutable description of an object
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                uri:
                  type: string
                  format: uri
                  description: The URI of the object to update
                value:
                  type: string
                  description: The new value for the mutable description
              required:
                - uri
                - value
      responses:
        '200':
          description: Description updated successfully
        '401':
          description: Unauthorized - invalid or missing token
        '403':
          description: Forbidden - user is not an owner of this object
      tags:
        - Edit

  /updateMutableNotes:
    post:
      summary: Edit Mutable Notes
      description: Edit the mutable notes of an object
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                uri:
                  type: string
                  format: uri
                  description: The URI of the object to update
                value:
                  type: string
                  description: The new value for the mutable notes
              required:
                - uri
                - value
      responses:
        '200':
          description: Notes updated successfully
        '401':
          description: Unauthorized - invalid or missing token
        '403':
          description: Forbidden - user is not an owner of this object
      tags:
        - Edit

  /updateMutableSource:
    post:
      summary: Edit Mutable Source
      description: Edit the mutable source of an object
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                uri:
                  type: string
                  format: uri
                  description: The URI of the object to update
                value:
                  type: string
                  description: The new value for the mutable source
              required:
                - uri
                - value
      responses:
        '200':
          description: Source updated successfully
        '401':
          description: Unauthorized - invalid or missing token
        '403':
          description: Forbidden - user is not an owner of this object
      tags:
        - Edit

  /updateCitations:
    post:
      summary: Edit Citations
      description: Edit the citations of an object
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                uri:
                  type: string
                  format: uri
                  description: The URI of the object to update
                value:
                  type: string
                  description: The new value for the citation
              required:
                - uri
                - value
      responses:
        '200':
          description: Citations updated successfully
        '401':
          description: Unauthorized - invalid or missing token
        '403':
          description: Forbidden - user is not an owner of this object
      tags:
        - Edit

  /{uri}/edit/{field}:
    post:
      summary: Edit Field
      description: Edit a field of an object
      parameters:
        - name: uri
          in: path
          required: true
          schema:
            type: string
          description: The URI of the object
        - name: field
          in: path
          required: true
          schema:
            type: string
            enum: [title, description, role, wasDerivedFrom, type, annotation]
          description: The field to edit
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                previous:
                  type: string
                  description: The previous value of the field
                object:
                  type: string
                  description: The new value of the field
                pred:
                  type: string
                  description: A predicate for an annotation
              required:
                - previous
                - object
      responses:
        '200':
          description: Field edited successfully
        '401':
          description: Unauthorized - invalid or missing token
        '403':
          description: Forbidden - user is not an owner of this object
      tags:
        - Edit

  /{uri}/add/{field}:
    post:
      summary: Add Field
      description: Add a field to an object
      parameters:
        - name: uri
          in: path
          required: true
          schema:
            type: string
          description: The URI of the object
        - name: field
          in: path
          required: true
          schema:
            type: string
            enum: [role, type, wasDerivedFrom, annotation]
          description: The field to add
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                object:
                  type: string
                  description: The value of the field
                pred:
                  type: string
                  description: A predicate for an annotation
              required:
                - object
      responses:
        '200':
          description: Field added successfully
        '401':
          description: Unauthorized - invalid or missing token
        '403':
          description: Forbidden - user is not an owner of this object
      tags:
        - Edit

  /{uri}/remove/{field}:
    post:
      summary: Remove Field
      description: Remove a field from an object
      parameters:
        - name: uri
          in: path
          required: true
          schema:
            type: string
          description: The URI of the object
        - name: field
          in: path
          required: true
          schema:
            type: string
            enum: [role, type, title, description, wasDerivedFrom, annotation]
          description: The field to remove
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                object:
                  type: string
                  description: The value of the field to remove
                pred:
                  type: string
                  description: A predicate for an annotation
              required:
                - object
      responses:
        '200':
          description: Field removed successfully
        '401':
          description: Unauthorized - invalid or missing token
        '403':
          description: Forbidden - user is not an owner of this object
      tags:
        - Edit

  /{uri}/addToCollection:
    post:
      summary: Add to Collection
      description: Add an object to a collection
      parameters:
        - name: uri
          in: path
          required: true
          schema:
            type: string
          description: The URI of the object to add
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                collections:
                  type: string
                  format: uri
                  description: The URI of the collection to add to
              required:
                - collections
      responses:
        '200':
          description: Object added to collection successfully
        '401':
          description: Unauthorized - invalid or missing token
        '403':
          description: Forbidden - user does not have permission
      tags:
        - Edit

  /{uri}/removeMembership:
    post:
      summary: Remove Membership
      description: Remove an object's membership from a collection
      parameters:
        - name: uri
          in: path
          required: true
          schema:
            type: string
          description: The URI of the collection
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                member:
                  type: string
                  format: uri
                  description: The URI of the member to remove
              required:
                - member
      responses:
        '200':
          description: Membership removed successfully
        '401':
          description: Unauthorized - invalid or missing token
        '403':
          description: Forbidden - user does not have permission
      tags:
        - Edit
