openapi: 3.0.0
info:
  title: "SynBioHub Permission API"
  version: "1.0.0"
  description: "API endpoints for managing permissions on SynBioHub"
  
servers:
  - url: 'https://synbiohub.org'
    description: Main SynBioHub instance
  - url: 'http://localhost:7777'
    description: Local development instance

components:
  securitySchemes:
    userToken:
      type: apiKey
      in: header
      name: X-authorization
      description: Authentication token required for all permission endpoints

paths:
  /{uri}/addOwner:
    post:
      summary: Add Owner
      description: Add an owner to an object
      parameters:
        - name: uri
          in: path
          required: true
          schema:
            type: string
          description: The URI of the object
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user:
                  type: string
                  description: The user ID of the owner being added
                uri:
                  type: string
                  format: uri
                  description: The URI of the object to add an owner to
              required:
                - user
                - uri
      responses:
        '200':
          description: Owner added successfully
        '401':
          description: Unauthorized - invalid or missing token
        '403':
          description: Forbidden - user does not have permission
      tags:
        - Permission

  /{uri}/removeOwner/{username}:
    post:
      summary: Remove Owner
      description: Remove an owner from an object
      parameters:
        - name: uri
          in: path
          required: true
          schema:
            type: string
          description: The URI of the object
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: The username of the owner to remove
      security:
        - userToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                userUri:
                  type: string
                  format: uri
                  description: The user URI of the owner being removed
              required:
                - userUri
      responses:
        '200':
          description: Owner removed successfully
        '401':
          description: Unauthorized - invalid or missing token
        '403':
          description: Forbidden - user does not have permission
      tags:
        - Permission
